<nav class="bg-white border-b border-gray-200 dark:bg-gray-900 dark:border-gray-700">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto p-4">
        <!-- Drawer on the left side -->
        <div class="flex items-center">
            <app-drawer></app-drawer>
        </div>

        <!-- Title in the center -->
        <div class="flex-1 text-center">
            <app-titles></app-titles>
        </div>

        <!-- User account and create dropdown on the right side -->
        <div class="flex items-center space-x-4">
            <app-user-acc></app-user-acc>
            <app-create-dropdown></app-create-dropdown>
        </div>
    </div>
</nav>