@if(footerErrorsSignal()!.customerErr !== '' || footerErrorsSignal()!.userErr !== ''){
<footer
    class="fixed bottom-0 left-0 z-20 w-full bg-white border-t border-gray-200 shadow dark:bg-gray-800 dark:border-gray-600">
    <div class="flex justify-center p-4 md:p-6">
        <div class="text-sm text-gray-500 dark:text-gray-400">
            <h2 class="mb-3 text-sm font-medium text-red-500 dark:text-red-400">Errors:</h2>
            <ul class="list-disc list-inside">
                <li class="text-sm font-medium">{{footerErrorsSignal()?.customerErr}}</li>
                <li class="text-sm font-medium">{{footerErrorsSignal()?.userErr}}</li>
            </ul>
        </div>
    </div>
</footer>
}